.questionCard {
    box-sizing: border-box;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 15px;
    color: #000;
    background-color: #fff;
    box-shadow: 2px 2px 5px grey;
}

.alert{
    color:red;
}

form {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
}

p{
    display: flex;
    justify-content: space-between;
    padding: 1px;
}